# Python-related files
*.pyc
*.pyo
__pycache__/

# Django-related files
*.sqlite3
db.sqlite3
*.log

# Virtual environment
venv/
.env/

# Node.js-related files (if applicable)
node_modules/

# IDE related
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
# Ignore Django migrations
**/migrations/*
!**/migrations/__init__.py
# Ignore Python bytecode files
*.pyc
__pycache__/
