{% load static %}
<!-- Footer Section -->
<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <!-- About Us -->
            <div class="col-md-4 mb-3">
                <h5>About Us</h5>
                <p>We are a leading e-commerce platform providing quality products at affordable prices. Explore a wide range of items for all your needs.</p>
            </div>

            <!-- Useful Links -->
            <div class="col-md-4 mb-3">
                <h5>Useful Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'index' %}" class="text-white">Home</a></li>
                    <li><a href="{#" class="text-white">Products</a></li>
                    <li><a href="{% url 'view_cart' %}" class="text-white">View Cart</a></li>
                    <li><a href="#" class="text-white">About Us</a></li>
                    <li><a href="#" class="text-white">Contact</a></li>
                </ul>
            </div>

            <!-- Contact Info -->
            <div class="col-md-4 mb-3">
                <h5>Contact Info</h5>
                <p>Email: <a href="mailto:support@shopcart.com" class="text-white">support@shopcart.com</a></p>
                <p>Phone: +1 800 123 456</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col text-center">
                <p>&copy; 2024 ShopCart. All Rights Reserved.</p>
                <div>
                    <a href="#" class="text-white mx-2"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white mx-2"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

